body {
    margin: 0;
    text-align: center;
}
#hero{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding: 120px 260px 127px 260px; 
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#visit{
    background: #457B9D;
    width: 201px;
    height: 40px;
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
}
#enjoy{
    background: #1D3557;
    width: 400px;
    height: 70px;
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    font-size: 18.72px;
 }
 .color{
    background: linear-gradient(#B7DBF9, #D64933) ;
 }
#activities{
    padding-top: 40px;
    color: #1D3557;
}
img {
    width: 100px;
    border-radius: 50%;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 54px 0 18px 0;
}
h5{
    width: 183px;
    height: 32px;
    color: #1D3557;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
}
h6{
    width: 198px;
    height: 55px;
    color: #1D3557;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}
.parent{
    display: flex;
    justify-content: center;
}
#guide{
    background: #A8DADC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #A8DADC;
    border-radius: 10px;
    margin: 50px 160px 50px 160px; 
    padding: 25px 20px 25px 20px; 
    border-bottom: 5px solid #1D3557;
}
#pic{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-right: 7px;
}
#your{
    width: 207px;
    height: 32px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom:14px; 
    margin-left: 20px;
}
#show{
    width: 189px;
    height: 71px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 26px;
    margin-left: 20px;
}
#name{
    width: 189px;
    height: 18px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
}
